<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/142226acd0.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Global ID Creator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>
    <section class="hero is-link">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Soju <i class="fas fa-dog"></i> <i class="fas fa-wine-bottle"></i>
            </h1>
            <h2 class="subtitle">
              GlobalID Creator
            </h2>
          </div>
        </div>
    </section>
        {% block content %}
        {% endblock %}

</body>
</html>